doctype html
html
	head
	body
		a(href='/register') Register Here
		br
		if user
			a(href='/users/' + user.username) View Profile
			br
			a(href='/posts/user') View My Posts
			br
			a(href='/posts') View All Posts
			br
			a(href='/logout') Logout
			br
		else
			
			form(action='/login' method='post')
				label username
				input#username(name='username' required)
				label password
				input#password(name='password' required)
				input(type='submit' value='login' id='submit')

		h2#error-message= message
