doctype html
html
	head
	body
		div
			h2 Create Your New Blog Post
			form(action='/posts/new' method='post')
				label title
				br
				input#title(minlength='3' name='title' placeholder='title' required)
				br
				label Enter your text here
				br
				textarea#body(minlength='5' rows="20" cols="50" name='body' placeholder='body' required)
				br
				input(type='submit' value='Create Post' id='submit')
