doctype html
html
	head
	body
		h2 Welcome #{user.username}
		a(href='/') Home
		br
		a(href='/posts/new') Create New Post
		br
		a(href='/posts/user') View My Posts
		br
		a(href='/posts') View All Posts
		br
		a(href='/logout') Logout
