doctype html
html
	head
	body
		div
			if userPosts.length != 0
				each post in userPosts
					ul
						li= post.title
						li= post.body
						br
			else
				h1 You didn't make any posts yet!
				br
		a(href='/posts/new') Create New Post
		br
		a(href='/') Home
		br
		a(href='/posts/user') View My Posts
		br
		a(href='/users/' + user.username) View Profile
		br
		a(href='/logout') Logout
